.Forms {
  color: black;
  text-shadow: none;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

.Forms-row {
  margin-top: 5rem;
  justify-content: center;
}

.Forms-row .row {
  justify-content: center;
}

.Forms label {
  font-size: 1.2rem;
  margin-top: .7rem;
  padding: 0;
}